@model IEnumerable<Order>

@{
    ViewData["Title"] = "Manage Orders";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Order Date</th>
            <th class="text-end">Total Amount</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>#@order.Id</td>
                <td>@order.User?.Email</td> @* Hiển thị email người đặt *@
                <td>@order.OrderDate.ToString("g")</td>
                <td class="text-end">@order.TotalAmount.ToString("C")</td>
                <td><span class="badge bg-primary">@order.Status</span></td>
                <td class="text-end">
                    <a asp-action="Details" asp-route-id="@order.Id" class="btn btn-sm btn-info">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>